.link, a {
   text-decoration: none;
}
.link:hover, a:hover {
   border-bottom: 1px solid;
}
.link:visited, /* a:visited */ {
   color: gold;
}
.anchor {
   display: inline-block;
   color: #fff;
   background-color: #000;
   padding: 5px 15px;
   text-transform: uppercase;
   font-size: 14px;
   border-radius: 15px;
}
.anchor:hover {
   background-color: rgb(243, 56, 243);
   color: rgb(5, 146, 5);
}