body {
   margin: 0;
   background-color: #ccc;
}

h3 {
   margin-top: 0;
}
.products {
   display: flex;
   justify-content: space-between;
   margin: 1rem;
}
.product-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   background-color: #fff;
   max-width: 180px;
   padding: 10px;
   border-radius: 1rem;
   border: 1px solid #fb6a03;
}
.product-card:hover {
   box-shadow: 0 0 20px 10px black;
}
.button {
   padding: 5px 70px;
   text-transform: uppercase;
   font-size: 15px;
}
.button:hover {
   background-color: darkgoldenrod;
   text-transform: none;
   border: 1px solid #d50e0e;
}
.product-card:nth-child(2) > p:nth-child(2) {
   background-color: red;
}
.product-card__description {
   flex-grow: 1;
}