* {
   box-sizing: border-box;
   margin: 0;
}

html {
   font-size: 10px;
}

body {
   padding: 5rem;
   /* для 1/2го экрана, а так не нужно */
   background-color: #fff;
   font-family: "Nunito", sans-serif;
   color: #5b5766;
   font-size: 1.8rem;
   line-height: 1.5;
}

ul {
   list-style: none;
}

h1,
h2,
h3 {
   font-family: "Poppins", sans-serif;
   font-weight: bold;
   color: #554d89;
}

.btn {
   border: none;
   text-decoration: none;
   height: 4rem;
   border-radius: 20px;
   padding: 0 1.5rem;
   font-family: "Poppins", sans-serif;
   cursor: pointer;
}

.btn-light {
   background-color: transparent;
   border: solid 1px #6852ed;
   font-size: 1.4rem;
   color: #6852ed;
}

.btn-dark {
   color: #fff;
   background-image: linear-gradient(to top, #6852ed, #ba43fc);
   padding: 1.3rem 3rem;
}

.link {
   border: none;
   background-color: transparent;
   text-decoration: none;
   color: #554d89;
   font-family: "Poppins", sans-serif;
   font-size: 1.6rem;
}

.link:hover {
   text-shadow: 0 0 1px #554d89;
}

.link-arrow::after {
   content: '\f061';
   font-family: 'FontAwesome';
   margin-left: 1.5rem;
}

.divider {
   border: none;
   border-bottom: 1px solid #E1E4EDCC;
}

.wrapper {
   width: 1146px;
   margin: 0 auto;
}

.top-header {
   display: flex;
   justify-content: space-between;
   padding: 2.8rem 0 2.5rem;
   font-size: 1.6rem;
}

.top-header__text {
   color: #716c80;
}

.top-header__phone {
   color: #716c80;
   text-decoration: none;
}

.top-header__phone:hover {
   text-decoration: underline;
}

.top-header__phone::before {
   content: '\f095';
   font-family: 'FontAwesome';
   margin-right: 0.7rem;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 1rem;
}

.header-navbar {
   display: flex;
   align-items: center;
}

.header__logo {
   display: block;
   margin-right: 5.6rem;
}

.header__menu {
   display: flex;
}

.header__menu-item {
   margin-right: 3.1rem;
   position: relative;
   padding: 2rem 0;
}

.header__menu-item:last-child {
   margin-right: 0;
}

.header__submenu {
   display: none;
   position: absolute;
   top: 5.4rem;
   left: -3rem;
   padding: 3rem;
   border-radius: 1rem;
   box-shadow: 0 0 2rem 0 #e1e4ed;
   background-color: #fff;
}

.header__submenu>.header__menu-item {
   padding: 0;
   margin-bottom: 2rem;
}

.header__submenu>.header__menu-item:last-child {
   margin-bottom: 0;
}

.header__menu-item:hover .header__submenu {
   display: block;
}

.header__menu-link {
   color: #5b5766;
   font-size: 1.6rem;
   text-decoration: none;
}

.header__menu-link:hover {
   color: #554d89;
   text-shadow: 0 0 1px #554d89;
}

.header__menu-link_active {
   color: #554d89;
   font-weight: 700;
}

.header-actions__text {
   display: inline-block;
   margin: 0 0.8rem;
}

.stage {
   margin-top: 10rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.stage__content {
   position: relative;
   top: -6rem;
}

.stage__title {
   font-size: 5rem;
   line-height: 1.2;
   margin-bottom: 3.1rem;
}

.stage__text {
   font-size: 2.2rem;
   margin-bottom: 4rem;
}

.stage__actions .btn-dark {
   margin-right: 3rem;
}

.btn-bottom {
   position: absolute;
   bottom: -5rem;
   left: 50%;
   transform: translateX(-50%);
   width: 110px;
   height: 110px;
   background-color: #6852ed;
   border-radius: 50%;
   display: flex;
   color: #fff;
   text-decoration: none;
}

.btn-bottom > i {
   margin: auto;
   font-size: 5rem;
}

.features {
   display: flex;
   justify-content: space-between;
   margin-top: 14rem;
}

.infoblock {
   width: 360px;
   border-radius: 10px;
   box-shadow: 0 0 20px 0 #e1e4ed;
   background-color: #fff;
   padding: 3rem;
}

.infoblock:hover {
   box-shadow: 0 0 20px 0 rgba(104, 82, 237, 0.8);
   background-image: linear-gradient(to top, #6852ed, #ba43fc);
}

.infoblock .fas {
   color: #6852ed;
   font-size: 2.2rem;
   margin-bottom: 3rem;
}

.infoblock__title {
   font-size: 2.2rem;
   margin-bottom: 3rem;
}

.infoblock__text {
   color: #716c80;
}

.infoblock__link {
   display: none;
   color: #fff;
   margin-top: 4.6rem;
}

.infoblock:hover .fas {
   display: none;
}

.infoblock:hover .infoblock__title {
   color: #fff;
}

.infoblock:hover .infoblock__text {
   color: #fff;
}

.infoblock:hover .infoblock__link {
   display: inline-block;
}

.article {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 14rem;
}

/* .article_reverse {
   flex-direction: row-reverse;
} */
.article__img,
.article__content {
   width: 50%;
   flex-shrink: 0;
}

.article__content {
   padding-left: 6rem;
}

.article__title {
   width: 412px;
   font-size: 2.8rem;
   line-height: 1.5;
   margin-bottom: 4.7rem;
}

.article__text {
   color: #716c80;
   margin-bottom: 5.4rem;
}

.article .btn {
   margin-right: 3.1rem;
}

.works {
   /* width: 1920px; */
   height: 480px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1.4rem;
   background-image: linear-gradient(to top, #ffffff, #f0f0f0);
   position: relative;
}
/* .works__actions {
} */
.works__circle1 {
   position: absolute;
   top: 6.8rem;
   left: 2.6rem;
   border-radius: 50%;
   width: 181px;
   height: 181px;
   background-color: #ba43fc;
}
.works__circle2 {
   position: absolute;
   top: 4.9rem;
   left: 36.5rem;
   border-radius: 50%;
   width: 50px;
   height: 50px;
   background-color: #ba43fc;
}
.works__circle3 {
   position: absolute;
   top: 4.9rem;
   right: 60rem;
   border-radius: 50%;
   width: 37px;
   height: 37px;
   background-color: #ba43fc;
}
.works__sausageTop {
   position: absolute;
   bottom: 41.2rem;
   right: 0;
   border-radius: 50%;
   width: 20rem;
   height: 48rem;
   transform: rotate(30deg);
   clear: both;
   overflow: hidden;
   background-color: #6852ed;
}
.works__circle4 {
   position: absolute;
   top: 27rem;
   left: 31.8rem;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   transform: rotate(30deg);
   background-color: #6852ed;
}
.works__sausageBottom {
   position: absolute;
   top: 38rem;
   left: 30rem;
   border-radius: 50%;
   width: 20rem;
   height: 48rem;
   transform: rotate(45deg);
   background-color: #6852ed;
}
.works__circle5 {
   position: absolute;
   bottom: 8.6rem;
   right: 37.5rem;
   border-radius: 50%;
   width: 8rem;
   height: 8rem;
   background-color: #6852ed;
}
.works__circle6 {
   position: absolute;
   bottom: 15.6rem;
   right: -10.7rem;
   border-radius: 50%;
   width: 21.5rem;
   height: 21.5rem;
   background-color: #ba43fc;
}
.btn-play {
   width: 80px;
   height: 80px;
   background-image: linear-gradient(to top, #6852ed, #ba43fc);
   position: absolute;
   /* bottom: 26.9rem; */
   top: 14rem;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 50%;
   display: flex;
   color: #fff;
   text-decoration: none;
}
.btn-play > i {
   position: relative;
   margin: auto;
   font-size: 3rem;
}
.works__content {
   position: relative;
  /*  margin-top: 2.9rem; */
}
.works__title {
   margin: auto;
   width: 17.9rem;
   margin-top: 12.9rem;
}
.works__text {
   margin: auto;
   margin-top: 3rem;
   width: 41.7rem;
}
.article_reverse {
   flex-direction: row-reverse;
}

.features2 {
   display: flex;
   justify-content: flex-start;
   margin-top: 9.5rem;
   width: 1214px;
   position: relative;
   flex-wrap: wrap;
   align-content: stretch;
}
.block1 {
   display: flex;
   justify-content: space-between;
}
.block2 {
   display: flex;
   justify-content: space-between;
}
.infoblock2 {
   width: 360px;
   border-radius: 10px;
   box-shadow: 0 0 20px 0 #e1e4ed;
   background-color: #fff;
   padding: 3rem;
   /* flex-flow: column wrap; */
   /* flex-grow: 1;
   flex-basis: 360px; */
}
.infoblock3 {
   display: flex;
   width: 360px;
   border-radius: 10px;
   box-shadow: 0 0 20px 0 #e1e4ed;
   background-color: #fff;
   padding: 3rem;
   flex-flow: column wrap;
/*    flex-grow: 1; */
   flex-basis: 360px;
   flex-grow: wrap;
}
/* .firstRow {
   flex-wrap: nowrap;
   align-content: start;
} */
/* .block2 {
   position: absolute;
   left: 390px;
} */
.infoblock2:nth-child(2) {
   margin-top: 3rem;
}
.infoblock2:nth-child(3) {
   /* display: block; */
   /* width: 360px;
   position: absolute; */
}
.infoblock2:nth-child(4) {
   /* margin-top: 3rem; */
   /* display: block; */
   /* width: 360px; */
}
.infoblock2:hover {
   box-shadow: 0 0 20px 0 rgba(104, 82, 237, 0.8);
   background-image: linear-gradient(to top, #6852ed, #ba43fc);
}

.infoblock2 .fas {
   color: #6852ed;
   font-size: 2.2rem;
   margin-bottom: 3rem;
}

.infoblock2__title {
   font-size: 2.2rem;
   margin-bottom: 3rem;
}

.infoblock2__text {
   color: #716c80;
}

.infoblock2__link {
   display: none;
   color: #fff;
   margin-top: 4.6rem;
}

.infoblock2:hover .fas {
   display: none;
}

.infoblock2:hover .infoblock2__title {
   color: #fff;
}

.infoblock2:hover .infoblock2__text {
   color: #fff;
}

.infoblock2:hover .infoblock2__link {
   display: inline-block;
}

.article2 {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 14rem;
}
.article2__content {
   width: 50%;
   flex-shrink: 0;
   padding-left: 6rem;
}
.article2__title {
   width: 412px;
   font-size: 2.8rem;
   line-height: 1.5;
   margin-bottom: 4.7rem;
}

.article2__text {
   color: #716c80;
   margin-bottom: 5.4rem;
}

.article2 .btn {
   margin-right: 3.1rem;
}