* {
   box-sizing: border-box;
   margin: 0;
}
html {
   font-style: 10px;
}
body {
   background-color: #fff;
   font-family: "Nunito", sans-serif;
   color: #5b5766;
   font-style: 1.8rem;
}
ul {
   list-style: none;
}
h1,
h2,
h3 {
   font-family: "Poppins", sans-serif;
   font-weight: bold;
   color: #554d89;
}
.divider {
   border: none;
   border-bottom: 1px solid;
   color: #E1E4EDCC;
}
.wrapper{
   width: 1920px;
   margin: 0 auto;
}
.top-header {
   display: flex;
   justify-content: space-between;
   padding: 2.8rem 0 2.5rem;
   font-style: 1.6rem;
}
.top-header__text {
   color: #716c80;
}
.top-header__phone {
   color: #716c80;
   text-decoration: none;
}
.top-header__phone:hover {
   text-decoration: underline;
}
.top-header__phone::before {
   content: '\f095';
   font-family: 'FontAwesome';
   margin-right: 0.7rem;
}
.header {
   display: flex;
   justify-content: space-between;
   padding-top: 2.6rem;
}
.header-navbar {
   display: flex;
   align-items: center;
}
.header__logo {
   display: block;
   margin-right: 5.6rem;
}
.header__menu {
   display: flex;
}
.header__menu-item {
   margin-right: 3.1rem;
   position: relative;
   padding: 2rem 0;
}
.header__menu-item:last-child {
   margin-right: 0;
}
.header__submenu {
   display: none;
   position: absolute;
   top: 5.4rem;
   left: -3rem;
   padding: 3rem;
   border-radius: 1rem;
   box-shadow: 0 0 2rem 0 #e1e4ed;
   background-color: #fff;
}
.header__submenu > .header__menu-item {
   padding: 0;
   margin-bottom: 2rem;
}
.header__submenu > .header__menu-item:last-child {
   margin-bottom: 0;
}
.header__menu-item:hover .header__submenu {
   display: block;
}
.header__menu-link {
   color: #5b5766;
   font-size: 1.6rem;
   text-decoration: none;
}
.header__menu-link:hover {
   color: #554d89;
   text-shadow: 0 0 1px #554d89;
}
.header__menu-link_active {
   color: #554d89;
   font-weight: 700;
}